.product_cards{
  display: grid; 
  grid-template-columns: repeat(3, 1fr);
  gap: 60px; 
  max-width: 1200px; 
  margin: 0 auto; 
  padding: 20px;
  box-sizing: border-box;
}

.product-card{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  background-color: #ffffff;
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 15px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-align: left;
  min-height: 400px;
  box-sizing: border-box;
}

.cena{
  font-weight: bold;
  margin-top: auto;
  display: flex;
  justify-content: space-between;
  width: 100%;
  font-weight: bold;
  margin-top: auto;
}

.product-card:hover{
  border-color: #346eda ;
}

.product-card img {
  max-width: 100%; 
  border-radius: 8px;
}

.product-card h4, .product p {
  margin: 10px 0; 
}

.knopka {
  background-color: #346eda;
  color: white;
  border: 1px solid transparent;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: bold;
  transition: background-color 0.3s ease;
  align-self: flex-end;
}

.knopka:hover {
  border-color: black;
}

.image{
  height: 288px;
  width: 280px;
  max-width: 100%;
  border-radius: 8px;
  transition: transform 0.3s ease, box-shadow 0.3s ease; 
}
.product-card:hover .image{
  transform: scale(0.95); 
}
